.group-area {
    margin-top: 100px;
}

.group-btn {
    width: 175px;
}

.return-box {
    text-align: left;
    margin: 100px 550px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 800;
    border:2px solid #a1a1a1;
    background:#dddddd;
    border-radius:25px;
}

.display {
    font-size: 20px;
    font-weight: 400;
}